<div class="room-container">
  <h3>Room Code: {{ roomCode }}</h3>

  <h4>Players</h4>

  <mat-chip-listbox aria-label="Player list">
    @for (player of players; track player) {
      <mat-chip [ngClass]="{ 'ready-chip': isPlayerReady(player) }">
        {{ player.username }} ({{ player.language }})
      </mat-chip>
    }
  </mat-chip-listbox>

  <h3 *ngIf="!currentRound">Rounds Not Started</h3>
  <button
    mat-raised-button
    color="primary"
    *ngIf="showReadyButton()"
    [disabled]="!canStart()"
    (click)="declarePlayerReady()"
  >
    Ready
  </button>

  <!-- <mat-tab-group *ngIf="currentRound">
        <mat-tab
          *ngFor="let round of rounds; let i = index"
          label="Round {{ i + 1 }}"
        >
          <p>Round {{ i + 1 }} Details: {{ round.details }}</p>
        </mat-tab>
      </mat-tab-group> -->

  <h3 *ngIf="currentRound">Round {{ currentRound }}</h3>
  <p>Round {{ currentRound }} Details: {{ round.details }}</p>
  <mat-progress-bar
    mode="determinate"
    [value]="progressValue"
  ></mat-progress-bar>

  <mat-spinner *ngIf="roomIsLoading"></mat-spinner>
</div>
