.room-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: calc(fit-content + 20px);
  padding: 5px;
  margin: 20px;
}

.mat-mdc-standard-chip.ready-chip {
  --mdc-chip-label-text-color: #fff;
  --mdc-chip-elevated-container-color: #4caf50; /* Green for ready players */
  border: 2px solid #4caf50;
  padding-left: 24px; /* Space for the icon */
  position: relative;
}

.mat-mdc-standard-chip.ready-chip::before {
  content: "✔"; /* Checkmark icon */
  color: #fff;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.mat-mdc-standard-chip.current-player {
  --mdc-chip-label-text-color: #fff;
  --mdc-chip-elevated-container-color: #2196f3; /* Blue for current player */
  border: 2px solid #2196f3;
  font-weight: bold;
}

.mat-mdc-standard-chip.ready-chip.current-player {
  --mdc-chip-label-text-color: #fff;
  --mdc-chip-elevated-container-color: #66bb89; /* Light green for current player who is ready */
  border: 2px solid #66bb89;
  font-weight: bold;
  padding-left: 24px; /* Space for the icon */
  position: relative;
}

.ready-button {
  margin: 16px;
}

.spinner-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-content: center;
  justify-items: center;
  background-color: #fff;
}
