a {
  margin: 10px;
  width: stretch;
  font-size: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  text-align: center;
}

img {
  max-width: 300px;
  margin-bottom: 20px;
}
