.create-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: fit-content;
  max-width: 90%;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-width: fit-content;
  align-items: end;
  margin-right: 10px;
}

button {
  margin: 10px;
  font-size: larger;
  width: 100%;
}

label {
  margin: 10px;
}

mat-checkbox {
  margin: 10px;
  align-self: center;
}

b {
  margin: 10px;
}

p {
  margin-right: 10px;
}
