<div class="create-room">
  <h2>Create Your Room</h2>
  <form [formGroup]="createRoomForm" (submit)="createRoom()">
    <p>
      <b>Choose game mode</b>
      <mat-button-toggle-group
        (change)="toggleUserNameForm($event)"
        formControlName="gameMode"
        aria-label="Game Mode"
      >
        <mat-button-toggle
          matTooltip="Play alone and challenge yourself."
          value="solo"
          >Solo</mat-button-toggle
        >
        <mat-button-toggle
          matTooltip="Compete with other players in real-time."
          value="multi"
          >Multiplayer</mat-button-toggle
        >
        <mat-button-toggle
          matTooltip="Manage the game as an administrator while all players join via their phones."
          value="admin"
          >Admin</mat-button-toggle
        >
      </mat-button-toggle-group>
    </p>
    <p>
      <label for="username"><b>Enter your username</b></label>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" id="username" />
      </mat-form-field>
    </p>
    <app-language-selector
      [language]="createRoomForm.controls.language"
    ></app-language-selector>
    <button mat-fab extended [disabled]="createRoomForm.invalid">Create</button>
  </form>
</div>
