<mat-card class="join-room">
  <mat-card-title><h2>Join Room</h2></mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form (submit)="joinRoom()" [formGroup]="joinRoomForm">
      <label for="roomCode"><b>Enter Room Code</b></label>
      <div class="form-control">
        <mat-form-field>
          <mat-label>Room Code</mat-label>
          <input matInput formControlName="roomCode" id="roomCode" />
        </mat-form-field>
      </div>
      <label for="username"><b>Enter your username</b></label>
      <div class="form-control">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" id="username" />
        </mat-form-field>
      </div>
      <app-language-selector
        [language]="joinRoomForm.controls.language"
      ></app-language-selector>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      extended
      [disabled]="joinRoomForm.invalid"
      (click)="joinRoom()"
    >
      Join
    </button>
  </mat-card-actions>
</mat-card>
