.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-control {
  margin: 20px;
}

.chip-list-container {
  width: 100%;
  max-width: 100%;
}

.chips-list {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(4 * (50px + 20px));
}

mat-chip-option {
  min-width: fit-content;
  width: calc(100% / 4 - 20px); /* 5 columns */
}
