<div class="selectorContainer">
  <div class="searchContainer">
    <label for="languageFilter"><b>Select a language to practice</b></label>
    <mat-form-field>
      <mat-label>Filter languages</mat-label>
      <input
        matInput
        required
        [formControl]="language"
        (blur)="updateErrorMessage()"
        (input)="filterLanguages($event)"
        id="languageFilter"
      />
      <mat-error *ngIf="errorMessage()">{{ errorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <div class="chip-list-container">
    <mat-chip-listbox aria-label="Languages" (change)="selectLanguage($event)">
      <div class="chips-list">
        <mat-chip-option
          *ngFor="let option of filteredLanguages | async"
          [value]="option"
        >
          {{ option }}
        </mat-chip-option>
      </div>
    </mat-chip-listbox>
  </div>
</div>
