label {
  margin: 20px;
}

.chip-list-container {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

.chips-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 chips per row */
  gap: 10px; /* Adjust the gap between chips as needed */
}

.searchContainer {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.selectorContainer {
  width: min-content;
}

.mat-chip-option {
  width: 100%; /* Ensure each chip takes up the full width of its grid cell */
}
