.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  background-image: url("../../public/ai/logo-with-game-name-3.webp");
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.main {
  display: grid;
  grid-template-rows: minmax(60px, auto) minmax(0, 100%);
  height: 100vh;
  width: 100vw;
}
.example-spacer {
  flex: 1 1 auto;
}
