@if (sentenceBuildingRound) {
  <label for="words-list">Words for round</label>
  <mat-chip-listbox id="words-list" aria-label="Words list">
    @for (word of sentenceBuildingRound.playerWords; track word) {
      <mat-chip> {{ word }} </mat-chip>
    }
  </mat-chip-listbox>

  <div *ngIf="currentRound && showSubmitButton()">
    <mat-form-field>
      <input
        matInput
        placeholder="Enter your sentence"
        [formControl]="answer"
        (keyup.enter)="submitRoundAnswer()"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="submitRoundAnswer()"
      [disabled]="answer.invalid"
    >
      Submit
    </button>
  </div>
}
